.body{
  background-color: #3F3D50;
}
.horizontalslider {
  display: block;
  width: 100%;
  overflow-x: scroll;
}
.horizontalslider::-webkit-scrollbar {
  display: none;
}
.slidercontaner {
  display: block;
  white-space: nowrap;
  margin: 0 18px;
}
.item {
  display: inline-block;
  margin-top: 25px;
  margin-right: 18px;
  position: relative;
}
.item img {
  border-radius: 20px;
  cursor: pointer;
}

.item h2 {
  color: white;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  max-width: 120px;
  width: 100%;
  position: absolute;
  top: 7%;
  left: 7%;
  right: 70%;
  background-color: transparent;
}
.item h5 {
  color: white;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 7%;
  background-color: transparent;
}
.item p {
  color: white;
  font-size: 11px;
  line-height: 11px;
  position: absolute;
  top: 80%;
  left: 7%;
  background-color: transparent;
}