.mostWatch{
    padding-bottom: 50px;
}
.mostWatch h2 {
  color: white;
  margin-top: 20px;
  margin-left: 18px;
}
.itembox {
  display: flex;
  margin:10px 18px;
}
.itembox img{
    border-radius: 10px;
}
.itembox h3 {
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
  margin-left: 18px;
}

.itembox p,span {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-left: 18px;
  margin-top: 5px;
}
